/* Add any custom styles here if needed */
#card {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    min-height: 320px;
    background: linear-gradient(to bottom, white, #007BFF);
}

#qrcode {
    width: 96px;
    height: 96px;
}

#qrcode canvas {
    width: 100%;
    height: 100%;
}

.text-hot-orange {
    color: #ff4f1f;
}

body {
    font-family: 'Exo 2', sans-serif;
}
